.skeleton {
  display: flex;
  background-image: linear-gradient(
    90deg,
    #e9ecf0 0px,
    #e9ecf0 100px,
    #ced6da 100px,
    #ced6da 200px
  );
  background-size: 50% 50%;
  background-repeat: repeat;
  min-height: calc(1em * var(--line-height, 1.6) * var(--lines, 1));

  animation: shimmer 2s infinite linear;
}

@keyframes shimmer {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}
